<html>
	<body>
		<form action = "/readeraddrec1" method = "POST">
			<h2>Add Reader Information</h2>
			Reader Key<br>
			<input type = "number" name = "Reader_Key" id="Reader_Key" readonly /></br>
			
			Reader Login Key<br>
			<input type = "text" name = "Reader_Login_Key" id="Reader_Login_Key" /></br>
			
			Reader Password<br>
			<input type = "text" name = "Reader_Password" id="Reader_Password" /></br>
			
			Reader Name<br>
			<input type = "text" name = "Reader_Name" id="Reader_Name" /></br>

			Reader Sex<br>
			<input type = "text" name = "Reader_Sex" id="Reader_Sex" /></br>
			
			Reader DOE<br>
			<input type = "text" name = "Reader_DOE" id="Reader_DOE" /></br>
			
			Reader Address<br>
			<input type = "text" name = "Reader_Address" id="Reader_Address" /></br>
			
			Reader Phone_no<br>
			<input type = "text" name = "Reader_Phone_no" id="Reader_Phone_no" /></br>
			
			<input type = "submit" value = "submit" name = "submit" /></br>
		</form/>
        <a href = "/">Go back to home page</a>
	</body>
</html>

