<!DOCTYPE HTML>
<html>
    <form action = "/reservedeleterec2" method = "POST">
    <h2>Delete Query</h2>
    <body>
        <table border = 1>
            <thead>
                <td></td>
                <td>Reserve Key</td>
                <td>Reserve Date</td>
                <td>Reader Key</td>
            </thead>
			
            {% for row in result %}
                <tr>
                    <td><input type = "radio" value = "{{row[0]}}" name = "In_Reserve_Key"></td>
                    <td><input type = "text" name = "Reserve_Key" id="Reserve_Key" value="{{row[0]}}" readonly /></td>
                    <td><input type = "text" name = "Reserve_Date" id="Reserve_Date" value="{{row[1]}}" readonly /></td>
                    <td><input type = "text" name = "Reader_Key" id="Reader_Key" value="{{row[2]}}" readonly /></td>
                </tr>
            {% endfor %}
        </table>
        <input type = "submit" value = "Delete" name = "submit">
        <a href = "/">Go back to home page</a>
    </body>
</html>


