<!DOCTYPE HTML>
<html>
	<h2>Add Reserve Information</h2>
 	    <body>
		    <br>result of addition : {{ msg }}</br>		
            {% for row in result %}
			Reserve Key<br>
			<input type = "text" name = "Reserve_Key" id="Reserve_Key" value="{{row[0]}}" readonly /></br>
			
			Reserve Date<br>
			<input type = "text" name = "Reserve_Date" id="Reserve_Date" value="{{row[1]}}" /></br>
			
			Reader_Key<br>
			<input type = "text" name = "Reader_Key" id="Reader_Key" value="{{row[2]}}" /></br>
			
			Book_Key<br>
			<input type = "text" name = "Book_Key" id="Book_Key" value="{{row[3]}}" /></br>

			Officer_Key<br>
			<input type = "text" name = "Officer_Key" id="Officer_Key" value="{{row[4]}}" /></br>
			
            {% endfor %}
            <a href = "/">Go back to home page</a>
	    </body>
</html>


